# Supabase – najdeš v Settings → API v Supabase dashboardu
NEXT_PUBLIC_SUPABASE_URL=https://khfojxqlotxdwkeebjvc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=tvuj-anon-key

# Pouze na serveru (nikdy do .env.local nesdílej)
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtoZm9qeHFsb3R4ZHdrZWVianZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2NDUxOTgsImV4cCI6MjA5NTIyMTE5OH0.3vlbDTS5V9YaOGgW6TcbC_vQD97KlAmIdqU1oJ83-J8
